# Milestone_01/Module_01/02_task_management_project/task_env/
# Milestone_01/Module_01/02_task_management_project/__pycache__/
# Milestone_01/Module_01/02_task_management_project/db.sqlite3
task_env/
__pycache__/
db.sqlite3
Milestone_01/Module_02/file.txt
node_modules/